# Игнорируем файлы, созданные Python
__pycache__/

# Игнорируем файлы, созданные редакторами и IDE
.vscode/
.idea/

# Игнорируем файлы, связанные с установкой и зависимостями
dist/

# Игнорируем файлы, связанные с тестами и покрытием кода
.coverage
htmlcov/
.pytest_cache/
.coverage.*
*.cover
*.xml
*.html

# Игнорируем файлы, связанные с Jupyter Notebook
.ipynb_checkpoints/

# Игнорируем файлы, связанные с конфигурацией и секретами
*.env

# Игнорируем файлы, связанные с логами
*.log
logs/